body{
  background-image:url(background.jpg);
  background-size:cover;
  background-position:center;
  font-family:sans-serif;
  width: 100%;
  height: auto;
  font-size:20px;
  overflow-x:hidden;
  color:#fff;
  background-repeat:no repeat;
}
.clearfix:after{
  content:".";
  visibility:hidden;
  display:block;
  height:0px;
  clear:both;
}
/*.search-box{
  float:right;
  margin-right: 100px;
        width: 300px;
        position: relative;
        display: inline-block;
        font-size: 14px;
    }
    .search-box input[type="text"]{
        height: 32px;
        padding: 5px 15px;
        border: 2px solid #CCCCCC;
        font-size: 14px;
    }
    
    .search-box input[type="text"]{
        width: 100%;
        box-sizing: border-box;
    }
    .search-box button {
  float: right;
  padding: 6px 10px;
  margin-top: 5px;
  margin-right: 0px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
/*.search .search-box {
  float:left;
}

.search input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  background-color:#f2f2f2;
}

.search .search-box button {
  float: left;
  padding: 6px 10px;
  margin-top: 8px;
  margin-left: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.search .search-box button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .search .search-box {
    float: none;
  }
.search a, .search input[type=text], .search .search-box button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
.search input[type=text] {
    border: 1px solid #ccc;  
  }
}*/
/*.show {
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap:10px;
}*/

.main-nav{
  float:left;
  margin-top:60px;
  margin-right:0px;
  width: 100%;
  height: auto;
  background-color:#ffff;
  opacity: 0.6;
}
.main-nav li{

  display:inline-block;
  list-style:none;
  margin-right:30px;
  
}
.main-nav li a{
  padding:17px 0;
  color:#000;
  text-decoration:none;
  text-transform:uppercase;
  font-size:90%;
  font-weight:100;
  display:block;
}
.main-nav li a:hover{
  background-color:#87cefa;
  border-bottom:2px solid #bf55ec;
}
.main-content{
  width:1000px;
  position:absolute;
  color:black;
  top:55%;
  left:50%;
  transform:translate(-50%, -50%);
}

footer{
  margin-top: 30%;
  text-align:center;
  padding:2px;
  background-color:#F0F8FF;
  color:black;
}
