body{
	background-image:url(background.jpg);
	background-size:cover;
	background-position:center;
	font-family:sans-serif;
	width: 100%;
    height: auto;
	font-size:20px;
	overflow-x:hidden;
	color:#fff;
	background-repeat:no repeat;
}
.clearfix:after{
	content:".";
	visibility:hidden;
	display:block;
	height:0px;
	clear:both;
}
.search-box{
	float:center;
	margin-right: 70px;
        width: 300px;
        position: relative;
        display: inline-block;
        font-size: 14px;
    }
    .search-box input[type="text"]{
        height: 32px;
        padding: 5px 10px;
        border: 1px solid #CCCCCC;
        font-size: 14px;
    }
    
    .search-box input[type="text"]{
        width: 100%;
        box-sizing: border-box;
    }
    .search-box button {
  float: right;
  padding: 6px 10px;
  margin-top: 0px;
  margin-right: 0px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.main-nav{
	float:left;
	margin-top:60px;
	margin-right:0px;
	width: 100%;
    height: auto;
	background-color:#ffff;
	opacity: 0.6;
}
.main-nav li{
	display:inline-block;
	list-style:none;
	margin-right:30px;
	
}
.main-nav li a{
	padding:17px 0;
	color:#000;
	text-decoration:none;
	text-transform:uppercase;
	font-size:90%;
	font-weight:100;
	display:block;
}
.main-nav li a:hover{
	background-color:#87cefa;
	border-bottom:2px solid #bf55ec;
}
.main-content{
	width:1000px;
	position:absolute;
	color:black;
	top:55%;
	left:50%;
	transform:translate(-50%, -50%);
}


footer{
	margin-top:32%;
  text-align:center;
  padding:2px;
  background-color:#F0F8FF;
  color:black;
}
